.reception {
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 120px;
    width: 100%;
    left: 0px;
    top: 0px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    
    &__title {
    justify-content: center;
    width: 300px;
    height: 5px;
    font-size: 36px;
    font-weight: 300;
    line-height: 42px;
    margin-left: 300px;
    margin-top: 40px;
  }
  
  &__logo {
    position: absolute;
    width: 85px;
    height: 70px;
    margin-top: 15px;
    top: 10px;
    left: 100px;
    bottom: 20px;
  }

  &__logout{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  }

  &__append{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    align-items: center;
  }
}